################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Restaurant_POS/CopilotIndices/17.14.1204.46620
/.vs/Restaurant_POS/v17
/.vs/Restaurant_POS/FileContentIndex
